{% extends "layout.html.twig" %}

{% block content %}

    {% if solicitacao != null %}
        <p>Informações de rastreamento de bolsas de sangue:</p>
        <br /><br />
        <p>
            <span style="font-weight: bold">Solicitação: </span> {{ solicitacao }}<br /><br />
            <span style="font-weight: bold">Situação: </span> <span>10/06/2017 14:23:05</span> - Despachado para a clínica (João Pessoa - PB)<br /><br />
            <span style="font-weight: bold">Histórico: </span><br />
            <span>10/06/2017 12:10:56</span> - Recebido pelo centro de controle (João Pessoa - PB)<br />
            <span>09/06/2017 20:48:33</span> - Enviado pelo laboratório (João Pessoa - PB)<br />
            <span>09/06/2017 14:19:01</span> - Solicitação recebida (Campina Grande - PB)<br />
        </p>
    {% else %}
        <form method="POST" action="#">
            {{ form_widget(formulario) }}
        </form>
    {% endif %}
{% endblock %}
