{% extends "layout.html.twig" %}

{% block content %}
    <div style="border: 1px dotted darkgrey; padding: 10px; margin-bottom: 20px; background-color: #eee">
        <p>As funcionalidades com interface do usuário esboçadas nesta prova de conceito são:</p>
        <ul>
            <li><a href="{{ url("agenda.agendar_doacao") }}">Módulo AGENDA - Funcionalide AGENDAR DOAÇÃO</a></li>
            <li><a href="{{ url("agenda.cadastrar") }}">Módulo AGENDA - Funcionalidade CADASTRAR-SE</a></li>
            <li><a href="{{ url("atenda.rastrear_bolsa") }}">Módulo ATENDA - Funcionalidade RASTREAR BOLSA DE SANGUE</a></li>
        </ul>
    </div>

    <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout layout-item-0">
            <div class="art-content-layout-row">
                <div class="art-layout-cell layout-item-1" style="width: 25%" >
                    <h3>Módulos</h3><p><img width="64" height="64" alt="" src="/images/41_64x64.png" style="float:left;margin-right:10px;" class=""></p>Diversos módulos são usados entre os vários envolvidos na doação de sangue.<br><p><a href="#">Mais...</a></p>
                </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
                    <h3>Resultados</h3><p><img width="64" height="64" alt="" src="/images/48_64x64.png" style="float:left;margin-right:10px;" class=""></p><p>Velocidade, praticidade e economia em todo o processo de doação.</p><p><a href="#">Mais...</a></p>
                </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
                    <h3>Imediatamente</h3><p><img width="64" height="64" alt="" src="/images/15_64x64.png" style="float:left;margin-right:10px;" class=""></p><p>Escolha a sua ação e salve uma vida agora mesmo.</p><p><a href="#">Mais...</a></p>
                </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
                    <h3>Relatórios</h3><p><img width="64" height="64" alt="" src="/images/34_64x64.png" style="float:left;margin-right:10px;" class=""></p><p>Cada etapa do processo é analisada e otimizada para focar no que importa.</p><p><a href="#">Mais...</a></p>
                </div>
            </div>
        </div>
        <div class="art-content-layout-wrapper layout-item-2">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell layout-item-3" style="width: 100%" >
                        <br style="line-height: 300px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}