<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60745 -->
    <meta charset="utf-8">
    <title>{{ modulo == "portal" ? "Portal" : menu.modulos[modulo] }} - {{ pagina == "inicio" ? "Início" : menu.acoes[modulo][pagina].nome }}</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/style.css" media="screen">
    <!--[if lte IE 7]><link rel="/stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="/style.responsive.css" media="all">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <script src="/script.responsive.js"></script>


    <style>.art-content .art-postcontent-0 .layout-item-0 { background: ;  }
        .art-content .art-postcontent-0 .layout-item-1 { padding: 10px;  }
        .art-content .art-postcontent-0 .layout-item-2 { margin-top: 20px;margin-bottom: 0px;  }
        .art-content .art-postcontent-0 .layout-item-3 { color: #262626; background:  url('/images/f5daf.png') no-repeat scroll; padding: 0px;  }
        .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
        .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

    </style></head>
<body>
<div id="art-main">
    <header class="art-header">

        <div class="art-shapes">
            <div class="art-object0"></div>
            <div class="art-object1521102941"></div>

        </div>

        <h1 class="art-headline">
            <a href="/">DOARSys</a>
        </h1>
        <h2 class="art-slogan">Módulo {{ modulo == "portal" ? "Portal" : menu.modulos[modulo] }}</h2>





        <nav class="art-nav">
            <div class="art-nav-inner">
                <ul class="art-hmenu">
                    <li><a href="{{ url("homepage") }}" class="active">Ínicio</a></li>
                    <li><a>Módulo</a>
                        <ul>
                            {% for key,menuModulo in menu.modulos %}
                                <li><a href="{{ url("modulo.homepage", {modulo: key}) }}">{{ menuModulo }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if modulo != "portal" %}
                    <li><a href="{{ url("modulo.homepage", {modulo: modulo}) }}">{{ menu.modulos[modulo] }}</a>
                        <ul>
                            {% for key,menuItem in menu.acoes[modulo] %}
                                <li><a href="{{ url(menuItem.route, menuItem.params) }}">{{ menuItem.nome }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="#">Portal</a></li>
                    {%  endif %}
                </ul>
            </div>
        </nav>


    </header>
    <div class="art-sheet clearfix">
        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-content"><article class="art-post art-article">
                            <h1>{{ pagina == "inicio" ? "Início" : menu.acoes[modulo][pagina].nome }}</h1>
                            <br /><br />
                            {% block content %}{% endblock %}
                        </article></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="art-footer">
        <div class="art-footer-inner">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell layout-item-0" style="width: 50%">
                        <p>DOARSys</p>
                    </div><div class="art-layout-cell layout-item-0" style="width: 50%">
                        <p style="text-align: right;">Prova de Conceito do TCC de Rafael Martin - PUC Minas - 2017</p>
                    </div>
                </div>
            </div>

        </div>
    </footer>

</div>


</body></html>